<div>
  <main>
    <app-header [logoUrl]="logoUrl"></app-header>
    <section class="requests">
      <menu>
        <actions (actionSelected)="onActionSelected($event)" class="actions"></actions>
      </menu>
        @if ((actionSelected || tabContent) && !subActionSelected) {
          <div class="tab-menu">
          <sub-actions [actionSelected]="actionSelected"
                       [tabContent]="tabContent"
                       (subActionSelected)="onSubActionSelected($event)"></sub-actions>
          </div>
        } @else if (actionSelected && subActionSelected) {
          <div class="tab-content">
          <app-form [subActionSelected]="subActionSelected"></app-form>
          </div>
        }

    </section>
  </main>
</div>
