/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#2980ff, #1b23ff);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

main h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #7925d3;
}

.requests {
  margin: 3rem auto;
}

.requests h2 {
  text-align: left;
}

.requests menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.requests menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #dc33ff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.requests menu button:hover {
  background-color: #fcff7b;
  color: #1b23ff;
}

.actions menu button .active {
  background-color: #fcff7b;
  color: #1b23ff;
}

.tab-menu {
  padding: 1rem;
  border-radius: 6px;
  background-color: #0b0fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tab-menu menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.tab-menu menu div ul {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  color: #dc33ff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  list-style-type: none;
}

.tab-menu menu div ul li {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  color: #dc33ff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.tab-menu h3 {
  margin: 0;
}

.tab-menu p {
  font-size: 0.9rem;
  color: #fcff7b;
  margin-left: 1rem; /* Align paragraph with indentation if needed */
}


.requests div {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.requests div form {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  color: #dc33ff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.requests div ul {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  color: #dc33ff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  list-style-type: none;
}

.requests div ul li {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  color: #fcff7b;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.requests div ul li div {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  color: #dc33ff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.requests div form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #2980ff;
  box-sizing: border-box;
}

.requests div form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #2980ff;
  box-sizing: border-box;
}

.requests div form button{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #dc33ff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.requests div form button:hover {
  background-color: #fcff7b;
  color: #1b23ff;
}

.requests div form button.active {
  background-color: #fcff7b;
  color: #1b23ff;
}

.tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #0b0fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tab-content div ul li {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: transparent;
  color: #dc33ff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.tab-content h3 {
  margin: 0;
}

.tab-content p {
  font-size: 0.9rem;
  color: #fcff7b;
  margin-left: 1rem; /* Align paragraph with indentation if needed */
}
