@switch (subActionSelected) {
  @case ("getCustomer") {
    <p>getCustomer form</p>
  }
  @case ("postCustomer") {
    <p>postCustomer form</p>
  }
  @case ("putCustomer") {
    <p>putCustomer form</p>
  }
  @case ("deleteCustomer") {
    <p>deleteCustomer form</p>
  }
  @case ("getDevice") {
    <p>getDevice form</p>
  }
  @case ("postDevice") {
    <p>postDevice form</p>
  }
  @case ("putDevice") {
    <p>putDevice form</p>
  }
  @case ("deleteDevice") {
    <p>deleteDevice form</p>
  }
  @case ("getCustomerAndDevices") {
    <p>getCustomerAndDevices form</p>
  }
}
