@switch (subActionSelected) {
  @case ("getCustomer") {
    <get-customer-form></get-customer-form>
  }
  @case ("postCustomer") {
    <post-customer-form></post-customer-form>
  }
  @case ("putCustomer") {
    <put-customer-form></put-customer-form>
  }
  @case ("deleteCustomer") {
    <delete-customer-form></delete-customer-form>
  }
  @case ("getDevice") {
    <get-device-form></get-device-form>
  }
  @case ("postDevice") {
    <post-device-form></post-device-form>
  }
  @case ("putDevice") {
    <put-device-form></put-device-form>
  }
  @case ("deleteDevice") {
    <delete-device-form></delete-device-form>
  }
  @case ("getCustomerAndDevices") {
    <get-customer-and-devices-form></get-customer-and-devices-form>
  }
}
